{% extends "baseframe.html" -%}
{% from "baseframe/components.html" import responsive_networkbar with context %}
{% block headerbox %}
{% block networkbar %}{{ responsive_networkbar(siteid='auth', login=true) }}{% endblock %}
{% endblock %}
{% block basecontent -%}

        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top st-navbar st-navbar-default st-navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header st-navbar-header page-scroll">
                <button type="button" class="navbar-toggle st-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand st-navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse st-navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right st-nav st-navbar-nav st-navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
      {% block content %}{% endblock %}
{%- endblock %}

{% block footer %}{{ config['MESSAGE_FOOTER'] }}{% endblock %}